/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Okt 15, 16:16:34
    Author     : HENDRA A. LAKSMANA, A.Md
*/

.disappear {
    display: none!important;
}

.gui-icon {
    text-align: center!important;
}